---
layout: default
---

<div class="profile">
  <article class="profile">
    <div class="row">
      <div class="column">
        <a href="{{ site.baseurl }}/" class="site-avatar">
          <img src="{{ site.baseurl }}{{ site.avatar }}" alt="{{ site.title }}" />
        </a>
      </div>
      <div class="column">
        <!-- Personal Info -->
        <section id="personal-info">
          <h2>About Me</h2>
          <p>I'm TST</p>
          <p>I'm interested in <b>2D/3D vision</b>, <b>3D reconstruction</b> ,  <b>Neural Rendering</b> and <b>Generative AI</b></p>
        </section>
      </div>
    </div>

    <!-- Skills -->
    <section id="skills">
      <h2>Skills</h2>
      <p><i>Programming Language: Python, C/C++, C#</i></p>
      <p><i>Frameworks: Pytorch, Jax, Tensorflow</i></p>
      <p><i>Language: <b>Korean(Fluent)</b>, English(Advanced), Mongolian(Native)</i></p>
    </section>

    <!-- Experience -->
    <section id="experience">
      <h2>Experience</h2>
      <i><h4>Korea Institute Science and Technology (KIST)</h4></i>
      <i>Department for Artificial Intiligence, Research Intern (2021.09~current)</i>
      <i><h4>Kyung Hee University</h4></i>
      <i>Department for Computer Engineering (2019.09~2021.08)</i>
    </section>

    <!-- Education -->
    <section id="education">
      <h2>Education</h2>
      <i><h4>Kyung Hee University</h4></i>
      <i>Master degree</i>
      <i><h4>Kyung Hee University</h4></i>
      <i>Bachelor degree</i>

    </section>

    <!-- Projects -->
    <section id="projects">
      <h2>Projects</h2>
      {% for post in paginator.posts %}
      <article class="post">
        <a href="{{ site.baseurl }}{{ post.url }}">
          <h3>{{ post.title }}</h3>

        </a>
        <div class="entry">
          {{ post.excerpt }}
        </div>

        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      </article>
      {% endfor %}
    </section>

    <!-- Publications -->
    <section id="publications">
      <h2>Publications</h2>
      <p>Bidirectional Temporal Diffusion Model for Temporally Consistent Human Animation. NeurIPS, 2023 (submitted)</p>
      <p>Efficient human foot reconstruction and size measurement from a few color images. JCDE, 2023 (submitted)</p>
      <p>INDeeD &colon Identical and Disparate Feature Decomposition from Multi-label Data. IS&T Electronic Imaging, 2022</p>
      <p>Learning Individual Class Representation from Biased Multi-label Data. IEEE Access, 2021.</p>

    </section>

    <!-- Patents -->
    <section id="patents">
      <h2>Patents</h2>

    </section>

  </article>
</div>

<!-- <div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <a href="{{ site.baseurl }}{{ post.url }}">
        <h1>{{ post.title }}</h1>

        <div>
          <p class="post_date">{{ post.date | date: "%B %e, %Y" }}</p>
        </div>
      </a>
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %} -->

  <!-- pagination -->
  <!-- {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="webjeda">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %} -->
</div>
