---
layout: default
---

<div class="profile">
  <article class="profile">
    <div class="row">
      <div class="column1">
        <a href="{{ site.baseurl }}/" class="site-avatar">
          <img src="{{ site.baseurl }}{{ site.avatar }}" alt="{{ site.title }}" />
        </a>
      </div>
      <div class="column">
        <!-- Personal Info -->
        <section id="personal-info">
          <!-- <h2>About Me</h2> -->
          <p>I obtained both my bachelor's and master's degrees in Computer Engineering from Kyung Hee University, under the supervision of Professor Seung-Kyu Lee. Currently, I am working as a research intern at the Korea Institute of Science and Technology.</p>
          <p>I'm interested in <b>2D/3D Vision</b>, <b>Neural Rendering</b> and <b>Generative AI.</b></p>
          <p><b>Email</b>: tdain72@gmail.com</p>
        </section>
      </div>
    </div>

    <!-- Skills -->
    <section id="skills">
      <h2>Skills</h2>
      <hr>
      <div style="padding-left: 30px;">
        <p>Programming Language: <i>Python, C/C++, C#</i></p>
        <p>Frameworks: <i>Pytorch, Jax, Tensorflow</i></p>
        <p>Language: <i><b>Korean(Fluent)</b>, English(Advanced), Mongolian(Native)</i></p>
      </div>
    </section>

    <!-- Experience -->
    <section id="experience">
      <h2>Experience</h2>
      <hr>
      <div style="padding-left: 30px;">
        <h4>Korea Institute Science and Technology</h4>
        <p class="short-line-height"><i>Center for Artificial Intelligence, Research Intern (2021.09~current)</i></p>
        <h4>Kyung Hee University</h4>
        <p class="short-line-height"><i>Department of Computer Science and Engineering (2019.09~2021.08)</i></p>
      </div>
    </section>

    <!-- Education -->
    <section id="education">
      <h2>Education</h2>
      <hr>
      <div style="padding-left: 30px;">
        <h4>Kyung Hee University</h4>
        <p class="short-line-height"><i>Master degree</i></p>
        <h4>Kyung Hee University</h4>
        <p class="short-line-height"><i>Bachelor degree</i></p>
      </div>

    </section>

    <!-- Projects -->
    <section id="projects">
      <h2>Projects</h2>
      <hr>
      {% for post in paginator.posts %}
      <article class="post">
        <div style="padding-left: 30px;">
          <div class="row">
            <a href="{{ site.baseurl }}{{ post.url }}">
              <h4>{{ post.title }}</h4>
            </a>
          </div>

          <div class="row">
            <div class="column2">
              <img src="{{ post.image }}" alt="fd main" />
            </div>
            <div class="column">
              <div class="entry">
                {{ post.excerpt }}
              </div>

              <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Project Page</a>
            </div>
          </div>
        </div>
      </article>
      {% endfor %}
    </section>

    <!-- Publications -->
    <section id="publications">
      <h2>Publications</h2>
      <hr>
      <div style="padding-left: 30px;">
        <p><i><b>Tserendorj Adiya</b>, Sanghun Kim, Jung Eun Lee, Jea Shin Yoon and Hwasup Lim.</i> Bidirectional Temporal Diffusion Model for Temporally Consistent Human Animation. <i>ICLR 2024</i></p>
        <p><i>Jungeun Lee, Sanghun Kim, Hansol Lee, <b>Tserendorj Adiya</b>, Hwasup Lim.</i> PIDiffu: Pixel-Aligned Diffusion Model for High-Fidelity Clothed Human Reconstruction. <i>WACV 2024</i></p>
        <p><i><b>Tserendorj Adiya</b> and Seungkyu Lee.</i> INDeeD: Identical and Disparate Feature Decomposition from Multi-label Data. <i>IS&T Electronic Imaging, 2022</i></p>
        <p><i><b>Tserendorj Adiya</b> and Seungkyu Lee.</i> Learning Individual Class Representation from Biased Multi-label Data. <i>IEEE Access, 2021.</i></p>
      </div>

    </section>

    <!-- Patents -->
    <section id="patents">
      <h2>Patents</h2>
      <hr>
      <div style="padding-left: 30px;">
        <p><i><b>Tserendorj Adiya</b> Sanghun Kim, Jung Eun Lee, Jae Shin Yoon and Hwasup Lim.</i> Method for Generating Temporally Consistent Human Animation. <i>Overseas patent pending</i></p>
        <p><i><b>Tserendorj Adiya</b> Sanghun Kim, Soomin Kim and Hwasup Lim. </i> Method for 3D Foot Reconstruction and Size Measurement from a Few Color Images. <i>Overseas patent pending</i></p>
        <p><i>Sanghun Kim, <b>Tserendorj Adiya</b> Jung Eun Lee, Soomin Kim and Hwasup Lim.</i> Body measurement based on 3D body model fitting. <i>Overseas patent pending</i></p>
      </div>
    </section>

  </article>
</div>

<!-- <div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <a href="{{ site.baseurl }}{{ post.url }}">
        <h1>{{ post.title }}</h1>

        <div>
          <p class="post_date">{{ post.date | date: "%B %e, %Y" }}</p>
        </div>
      </a>
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %} -->

  <!-- pagination -->
  <!-- {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="webjeda">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %} -->
</div>
